{# templates/admin/page_section/index.html.twig #}
{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block table_body %}
    <tbody
        data-controller="page-section-sortable"
        data-page-section-sortable-url-value="{{ path('admin_page_section_reorder') }}"
    >
    {% for entity in entities %}
        {% if not entity.isAccessible %}
            {% set some_results_are_hidden = true %}
        {% else %}
            <tr data-id="{{ entity.primaryKeyValueAsString }}">
                {# --- Cellules de champs, version "officielle" EasyAdmin --- #}
                {% for field in entity.fields %}
                    {% set is_searchable = ea.crud.searchFields is null
                        or field.property in ea.crud.searchFields
                    %}

                    <td
                        data-column="{{ field.property }}"
                        data-label="{{ field.label|trans|e('html_attr') }}"
                        class="{{ is_searchable ? 'searchable' }}
                                   {{ field.property == sort_field_name ? 'sorted' }}
                                   text-{{ field.textAlign }}
                                   {{ field.cssClass }}"
                        dir="{{ ea.i18n.textDirection }}"
                    >
                        {{ include(field.templatePath, {
                            field: field,
                            entity: entity
                        }, with_context = false) }}
                    </td>
                {% endfor %}

                {# --- Colonne Actions, comme dans le template de base --- #}
                {% block entity_actions %}
                    <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown' }}">
                        {% if not ea.crud.showEntityActionsAsDropdown %}
                            {% for action in entity.actions %}
                                {{ include(action.templatePath, {
                                    action: action,
                                    entity: entity,
                                    isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown
                                }, with_context = false) }}
                            {% endfor %}
                        {% else %}
                            {{ include('@EasyAdmin/crud/includes/_actions_dropdown.html.twig', {
                                actions: entity.actions
                            }, with_context = false) }}
                        {% endif %}
                    </td>
                {% endblock entity_actions %}
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="{{ (entities|first.fields ?? [])|length + 1 }}">
                {{ 'datagrid.no_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}

    {% if some_results_are_hidden ?? false %}
        <tr>
            <td colspan="{{ (entities|first.fields ?? [])|length + 1 }}">
                {{ 'datagrid.hidden_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endif %}
    </tbody>
{% endblock %}
