<div class="bg-white py-24 sm:py-32 dark:bg-gray-950">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        {% if logo_cloud.title is defined %}
            <h2 class="text-center text-lg/8 font-semibold text-gray-900 dark:text-white">
                {{ logo_cloud.title ?? 'Titre par défaut' }}
            </h2>
        {% endif %}

        <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            {% for l in logo_cloud.logos|default([]) %}
                {% set pos =
                    loop.index == 4 ? 'sm:col-start-2 lg:col-span-1' :
                    loop.index == 5 ? 'col-start-2 sm:col-start-auto lg:col-span-1'
                    : 'lg:col-span-1'
                %}

                <a href="{{ l.href|default('#') }}"
                   target="_blank" rel="noopener"
                   aria-label="{{ l.alt|default('logo') }}"
                   class="group col-span-2 {{ pos }} block">
                    <img
                        width="{{ l.width|default(158) }}" height="{{ l.height|default(48) }}"
                         src="{{ asset(l.src_dark|default('images/logos/Docker-logo-white.svg')) }}"
                         alt="{{ l.alt|default('logo') }}"
                        class="mx-auto max-h-12 w-full object-contain transition-transform duration-500 ease-out
                      motion-safe:group-hover:scale-130" />
                </a>
            {% endfor %}
        </div>
    </div>
</div>
